@model List<Libri>

@if (Model.Count == 0)
{
    <h3>Nessun Libro in vendita</h3>

}
else
{
    <div class="container bg-secondary bg-opacity-25">

        <div class="row text-white">




            <div class="row justify-content-center">

                @foreach (Libri libro in Model)
                {
                    <div class="col-12 col-md-6 container text-center">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <img src="@libro.Image" class="" alt="immagine">
                            </div>
                            <div class="col-12 col-md-6">
                                <h4 class="pt-3">@libro.Titolo</h4> 
                                <h4 class="pt-3">@libro.Genere.Nome</h4>  
                                <h4 class="pt-3">@libro.Prezzo</h4>
                                <a href="@Url.Action("","",new{})">Like</a>
                                <a href="@Url.Action("","",new{})">Compra</a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>@libro.Trama</h4>

                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>


}
