@model ClienteView

<body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    <form asp-controller="Cliente" asp-action="Ordine" method="post">
        <div class=" container ">
        <div class="row">
            <div class="my-3">
                
                <h2>Il tuo ordine</h2>
            </div>
              <input asp-for="Libro.Isbn" type="hidden" value="@Model.Libro.Isbn" class="form-control">
              <input asp-for="Libro.Foto"  type="hidden" value="@Model.Libro.Foto" class="form-control">
              <input asp-for="Libro.Trama"  type="hidden" value="@Model.Libro.Trama" class="form-control">
              <input asp-for="Libro.Id"  type="hidden" value="@Model.Libro.Id" class="form-control">
              <input asp-for="Libro.Autore"  type="hidden" value="@Model.Libro.Autore" class="form-control">
              <input asp-for="Libro.Titolo"  type="hidden" value="@Model.Libro.Titolo" class="form-control">

            <input asp-for="Libro.Quantita" id="QuantitaMagazzino" type="hidden" value="@Model.Libro.Quantita" class="form-control">
            
            <!-- Contenitore immg e dettagli ordine -->
            <div class="container col mx-3 bg-white rounded-2 bg-opacity-50" style="height: fit-content;">
                <div style="max-width: 700px;">
                    <div class="row ">
                        <!-- ----------- Immagine -------------> 
                        <div class="col align-content-center">
                            <img src="@Model.Libro.Foto" class=" my-2 immagine-ordine" width="90" height="120" alt="img libro">
                            
                             
                        </div>
                        <!-- ----------Fine immagine ----------->
                        <!-- -------------- Contenitore dettagli ordine ------------------ -->
                        <div class="col-md-8 mb-4">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col mb-2 "> <p class="text-muted mb-2 pt-2" style="text-align:start">Libro</p></div>

                                </div>
                                <div class="row">
                                    <h5 class="mx-0 col-2" style="text-align:start "> <b>Titolo: </b> </h5>
                                    <h5 class="card-title col-10 " style="text-align:start">@Model.Libro.Titolo</h5>
                                </div>
                                <div class="row">
                                    <h5 class="mx-0 col-2" style="text-align:start "> <b>Autore:</b> </h5>
                                    <h5 class="card-title col-10 " style="text-align:start">@Model.Libro.Autore</h5>
                                </div>
                                <div class="row mt-4 ">
                                    <p class="card-text col-6" style="text-align:start">
                                        <small id="disponibilita" class="text-success">
                                            <svg id="iconaDisponibilita" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg> Disp.immediata
                                        </small>
                                    </p>
                                    <div class="col-6">
                                            <h5 class="" style="">Prezzo: <span id="PrezzoLibro">@Model.Libro.Prezzo</span> €</h5>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                             <div class="col text-success" id="QuantitaDisp">Quantità Disponibile: @Model.Libro.Quantita</div>
                                            <!--Se vogliamo aggiungere la possibilità di comprare piu di un libro e poterlo cancellare-->
                                            <!--  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash col" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg> -->
                                            <div class="form-group col">
                                                <input asp-for="OrdineCliente.Quantita" id="QuantitaLibri" class="form-control" type="number" placeholder="Quantità" min="1" aria-label="default input example">
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>

                                <div>
                                </div>

                            </div>
                            <!-- --------------------Fine-------------------- -->

                        </div>
                    </div>
                </div>

                <!-- ----------Riepilogo ordine ------------------->

            </div>
                <div class="col-4 col-xs-4  bg-white rounded-2 bg-opacity-75 center" style="width: 24rem;">
                  <div class="card-body">
                    <h6 class="card-subtitle my-2 text-muted text-center">Riepilogo ordine</h6>

                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th scope="col">Subtotale</th>
                                <th scope="col" class="text-center">
                                    <span id="TotaleParziale" >0 </span>€
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Spese di spedizione</td>
                                <td class="text-center" >3,50 €</td>

                            </tr>
                            <tr>

                                <td>Sconto spese di spedizione <br><small class="text-secondary">Per spese maggiori di 50€</small></td>
                                <td class="text-center" id="Sconto">0 €</td>

                            </tr>
                            <tr>
                                <th scope="col">Totale</th>
                                <th scope="col" class="text-center"> <span id="Totale">0</span>€ </th>

                            </tr>
                        </tbody>
                    </table>
                    
                    <button type="submit" id="BottoneCompra" class="btn btn-info btn-lg justify-content-center mb-2 ">
                        <span class="glyphicon glyphicon-tag"></span> Ordina
                    </button>
                    
                  </div>

                </div>
            
        </div>
    </div>
    <!---------------- -->
    </form>





<div mb-5 class="mt-4">
    <a asp-action="Index">Indietro</a>
</div>



    @section Scripts{
        <script type="text/javascript">

            document.getElementById("QuantitaLibri").addEventListener("input", aggiornaPrezzo);


        </script>
    }

</body>

                                                    
