@model LibreriaView

<table class="table table-striped-columns">
    <thead class="table-light table-striped-columns">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Isbn</th>
            <th scope="col">Titolo</th>
            <th scope="col">Prezzo unitario</th>
            <th scope="col">Quantità</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Fornitore</th>
        </tr>

    </thead>
    <tbody class="table-striped-columns mb-3">
    <tr>
        <th scope="row">@Model.Libro.Id</th>
        <td>@Model.Libro.Isbn</td>
        <td>@Model.Libro.Titolo</td>
        <td><span id="PrezzoLibro">@Model.Libro.Prezzo </span> €</td>
        <td class="col-2">
            
                <input id="QuantitaLibri" class="form-control" type="number" placeholder="Quantità" aria-label="default input example">

           
        </td>
        <td> <span id="TotaleParziale">@Model.Libro.Prezzo </span>€</td>
        <td>
                
                <option value""></option>
                <select asp-for="@Model.Ordine.FornitoreId" rows="10" class="d-block w-100">
                    <option value=""></option>
                    @foreach (Fornitore fornitore in Model.Fornitore)
                    {
                        <option value="@fornitore.Id">@fornitore.Name</option>
                    }
                    
                    <span asp-validation-for="@Model.Ordine.FornitoreId" class="text-danger"></span>
                </select>
        </td>
       
    </tr>

   
    </tbody>
    
</table>




<div style="align-self:flex-start">

    <h3 ">Totale: <span id="Totale">@Model.Libro.Prezzo </span>€ </h3>
</div>














<div mb-5>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts{
    <script type="text/javascript">

        document.getElementById("QuantitaLibri").addEventListener("input", aggiornaPrezzo);


    </script>
    }

