@model LibreriaView

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Isbn</th>
            <th scope="col">Titolo</th>
            <th scope="col">Prezzo unitario</th>
            <th scope="col">Quantità</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Fornitore</th>
        </tr>

    </thead>
    <tr>
        <th scope="row">@Model.Libro.Id</th>
        <td>@Model.Libro.Isbn</td>
        <td>@Model.Libro.Titolo</td>
        <td><span id="PrezzoLibro">@Model.Libro.Prezzo </span> €</td>
        <td>
            <div class="form-group col">
                <input id="QuantitaLibri" class="form-control" type="number" placeholder="Quantità" aria-label="default input example">

            </div>
        </td>
        <td> <span id="TotaleParziale">@Model.Libro.Prezzo </span>€</td>
        <td>
            <select asp-for="@Model.Ordine.Fornitore.Name" rows="10" class="d-block w-200">
                <option value=""></option>
                <span asp-validation-for="@Model.Ordine.Fornitore.Name" class="text-danger"></span>
            </select>
        </td>
       
    </tr>
    <tbody>
    </tbody>
</table>








<span id="Totale">@Model.Libro.Prezzo </span>€













<div mb-5>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts{
    <script type="text/javascript">

        document.getElementById("QuantitaLibri").addEventListener("input", aggiornaPrezzo);


    </script>
    }

